<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project.Properties.Settings.BC_StudentsConnectionString"
            connectionString="Data Source=DESKTOP-28E4QD1\SQLEXPRESS;Initial Catalog=BC_Students;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Project.Properties.Settings.BelgiumCampus_StudentsConnectionString"
            connectionString="Data Source=DESKTOP-28E4QD1\SQLEXPRESS;Initial Catalog=BelgiumCampus_Students;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
